:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 598px;
  height: 842px;
  margin: 0 auto;
  background: #daedfb;
  overflow: hidden;
  border-radius: 17px;
}
.frame-1 {
  position: relative;
  width: 563px;
  height: 184px;
  margin: 23px 0 0 17px;
  background: #ffffff;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.1);
}
.flex-row-b {
  display: flex;
  align-items: center;
  justify-content: baseline;
  position: relative;
  width: 117px;
  height: 12px;
  margin: 8px 0 0 348px;
  z-index: 22;
}
.language {
  flex-shrink: 0;
  position: relative;
  width: 12px;
  height: 12px;
  background: url(./assets/images/52320311-a64d-4155-a513-943360ef4276.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 22;
  margin-right: 5px;
}
.www-khalid-com-de {
  flex-shrink: 0;
  position: relative;
  height: 11px;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
  white-space: nowrap;
  z-index: 21;
}
.flex-row-ce {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 85px;
  height: 12px;
  margin: 9px 0 0 348px;
  z-index: 13;
}
.smartphone {
  flex-shrink: 0;
  position: relative;
  width: 12px;
  height: 12px;
  background: url(./assets/images/ff2799b2-f817-47bb-bbca-09cc9d7cf982.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 13;
}
.plus {
  flex-shrink: 0;
  position: relative;
  height: 11px;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
  white-space: nowrap;
  z-index: 5;
}
.flex-row {
  position: relative;
  width: 520px;
  height: 100px;
  margin: -9px 0 0 14px;
  z-index: 17;
}
.geburtsjahr {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 11px;
  top: 0;
  left: 0;
  color: #99d3ff;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
  white-space: nowrap;
  z-index: 10;
}
.frame-2 {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  left: 217px;
  background: #99d3ff;
  z-index: 1;
  overflow: hidden;
  border-radius: 50px;
}
.frame-3 {
  position: relative;
  width: 96px;
  height: 96px;
  margin: 2px 0 0 2px;
  background: #ffffff;
  z-index: 2;
  overflow: hidden;
  border-radius: 109px;
}
.image {
  position: absolute;
  width: 121px;
  height: 118px;
  top: 0;
  left: -18px;
  background: url(./assets/images/ad97fc2b7004a4ee0fbcaaf9057c72df06ef90f6.png)
    no-repeat center;
  background-size: cover;
  z-index: 3;
}
.text-4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 11px;
  top: 13px;
  left: 4px;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
  white-space: nowrap;
  z-index: 6;
}
.mail {
  position: absolute;
  width: 2.69%;
  height: 12.83%;
  top: 25%;
  left: 64.04%;
  background: url(./assets/images/5f00f514-cd94-4602-95d4-f7afc3e9d9a2.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 14;
}
.khaledkh-gmx-de {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 11px;
  top: 27px;
  left: 351px;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
  white-space: nowrap;
  z-index: 12;
}
.wohnort {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 11px;
  top: 31px;
  left: 0;
  color: #99d3ff;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
  white-space: nowrap;
  z-index: 9;
}
.hannover {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 11px;
  top: 42px;
  left: 4px;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
  white-space: nowrap;
  z-index: 11;
}
.vector {
  position: absolute;
  width: 2.31%;
  height: 12%;
  top: 53%;
  left: 64.23%;
  background: url(./assets/images/c25b2b66-62ca-40e4-bb8a-44e679fc42ff.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 16;
}
.linkedin {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 11px;
  top: 54px;
  left: 351px;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
  white-space: nowrap;
  z-index: 8;
}
.khalid-waleed-khalid {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 27px;
  top: 72px;
  left: 0;
  color: #36a0ed;
  font-family: Nunito, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  text-align: left;
  white-space: nowrap;
  z-index: 17;
}
.vector-4 {
  position: absolute;
  width: 2.31%;
  height: 12%;
  top: 83%;
  left: 64.23%;
  background: url(./assets/images/710e3541-333a-4936-9f70-8848b808f1ad.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 15;
}
.github {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 11px;
  top: 84px;
  left: 351px;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
  white-space: nowrap;
  z-index: 7;
}
.flex-row-fc {
  position: relative;
  width: 499px;
  height: 46px;
  margin: -8px 0 0 61px;
  z-index: 20;
}
.handwritten {
  position: absolute;
  width: 96px;
  height: 46px;
  top: 0;
  left: 315px;
  z-index: 18;
}
.full-stack-developer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  top: 18px;
  left: 0;
  color: #c0c0c0;
  font-family: Nunito, var(--default-font-family);
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 4;
}
.images {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 23px;
  left: 287px;
  background: url(./assets/images/31d3bbac7461ecf2ca2c9e30bdc4d9537118e8a8.png)
    no-repeat center;
  background-size: cover;
  z-index: 20;
}
.xing {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 11px;
  top: 24px;
  left: 304px;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
  white-space: nowrap;
  z-index: 19;
}
.flex-row-ea {
  position: relative;
  width: 570px;
  height: 610px;
  margin: 9px 0 0 17px;
  z-index: 80;
}
.frame-5 {
  position: absolute;
  width: 353px;
  height: 610px;
  top: 50%;
  left: 50%;
  font-size: 0px;
  background: #ffffff;
  transform: translate(-80.74%, -50%);
  z-index: 23;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.1);
}
.ausbildung-studium-weiterbildung {
  display: block;
  position: relative;
  height: 11px;
  margin: 16px 0 0 16px;
  color: #99d3ff;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
  white-space: nowrap;
  z-index: 24;
}
.flex-row-f {
  position: relative;
  width: 160px;
  height: 14px;
  margin: 12px 0 0 16px;
  z-index: 51;
}
.ellipse {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 0;
  left: 82px;
  background: url(./assets/images/ceaa01fc-ac97-4bf6-8480-cfbbcca239fa.png)
    no-repeat center;
  background-size: cover;
  z-index: 50;
  border-radius: 50%;
}
.ausbildung {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 14px;
  top: 0;
  left: 106px;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 10px;
  font-weight: 700;
  line-height: 13.64px;
  text-align: left;
  white-space: nowrap;
  z-index: 51;
}
.aug-jun {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 8px;
  top: 2px;
  left: 0;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 6px;
  font-weight: 700;
  line-height: 8px;
  text-align: left;
  white-space: nowrap;
  z-index: 49;
}
.flex-row-e {
  position: relative;
  width: 165px;
  height: 14px;
  margin: 40px 0 0 16px;
  z-index: 57;
}
.ellipse-6 {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 0;
  left: 82px;
  background: url(./assets/images/da3bf92c-a526-4485-aee2-e08f1aa294b6.png)
    no-repeat center;
  background-size: cover;
  z-index: 56;
  border-radius: 50%;
}
.umschulung {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 14px;
  top: 0;
  left: 106px;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 10px;
  font-weight: 700;
  line-height: 13.64px;
  text-align: left;
  white-space: nowrap;
  z-index: 57;
}
.jan-jul {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 8px;
  top: 2px;
  left: 0;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 6px;
  font-weight: 700;
  line-height: 8px;
  text-align: left;
  white-space: nowrap;
  z-index: 55;
}
.flex-row-a {
  position: relative;
  width: 160px;
  height: 14px;
  margin: 40px 0 0 16px;
  z-index: 63;
}
.ellipse-7 {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 0;
  left: 82px;
  background: url(./assets/images/99821b1d-fd04-4093-86c5-55eca780d0eb.png)
    no-repeat center;
  background-size: cover;
  z-index: 62;
  border-radius: 50%;
}
.c-deutsch {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 14px;
  top: 0;
  left: 106px;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 10px;
  font-weight: 700;
  line-height: 13.64px;
  text-align: left;
  white-space: nowrap;
  z-index: 63;
}
.sep-dez {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 8px;
  top: 2px;
  left: 0;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 6px;
  font-weight: 700;
  line-height: 8px;
  text-align: left;
  white-space: nowrap;
  z-index: 61;
}
.flex-row-ed {
  position: relative;
  width: 148px;
  height: 14px;
  margin: 40px 0 0 16px;
  z-index: 69;
}
.ellipse-8 {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 0;
  left: 82px;
  background: url(./assets/images/cdb63a14-7f38-4cdc-ae06-af4ab72c932f.png)
    no-repeat center;
  background-size: cover;
  z-index: 68;
  border-radius: 50%;
}
.bachelor {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 14px;
  top: 0;
  left: 106px;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 10px;
  font-weight: 700;
  line-height: 13.64px;
  text-align: left;
  white-space: nowrap;
  z-index: 69;
}
.sep-jun {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 8px;
  top: 2px;
  left: 0;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 6px;
  font-weight: 700;
  line-height: 8px;
  text-align: left;
  white-space: nowrap;
  z-index: 67;
}
.flex-row-ce-9 {
  position: relative;
  width: 195px;
  height: 14px;
  margin: 40px 0 0 16px;
  z-index: 75;
}
.ellipse-a {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 0;
  left: 82px;
  background: url(./assets/images/8a5948e6-2809-4d30-bc49-7957577582fb.png)
    no-repeat center;
  background-size: cover;
  z-index: 74;
  border-radius: 50%;
}
.fachhochschulreife {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 14px;
  top: 0;
  left: 106px;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 10px;
  font-weight: 700;
  line-height: 13.64px;
  text-align: left;
  white-space: nowrap;
  z-index: 75;
}
.sep-jun-b {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 8px;
  top: 2px;
  left: 0;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 6px;
  font-weight: 700;
  line-height: 8px;
  text-align: left;
  white-space: nowrap;
  z-index: 73;
}
.bagdad {
  display: block;
  position: relative;
  height: 11px;
  margin: 4px 0 0 122px;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
  white-space: nowrap;
  z-index: 76;
}
.skills {
  display: block;
  position: relative;
  height: 16px;
  margin: -1px 0 0 16px;
  color: #99d3ff;
  font-family: Nunito, var(--default-font-family);
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 25;
}
.flex-row-dcd {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 94px;
  height: 29px;
  margin: 235px 0 0 10px;
  z-index: 47;
}
.devops {
  flex-shrink: 0;
  position: relative;
  width: 29px;
  height: 29px;
  background: #27282c;
  z-index: 47;
  overflow: hidden;
  border-radius: 3px;
}
.image-c {
  position: relative;
  width: 29px;
  height: 15.853px;
  margin: 4px 0 0 1px;
  background: url(./assets/images/b9047f3c81c626806cd8aec89578573cd51e6855.png)
    no-repeat center;
  background-size: cover;
  z-index: 48;
}
.others {
  flex-shrink: 0;
  position: relative;
  height: 16px;
  color: #c0c0c0;
  font-family: Nunito, var(--default-font-family);
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 31;
}
.gute-kenntnisse {
  position: relative;
  width: 300px;
  height: 36px;
  margin: -6px 0 0 48px;
  font-family: Nunito, var(--default-font-family);
  font-size: 6px;
  font-weight: 700;
  line-height: 8.184px;
  text-align: left;
  z-index: 33;
}
.gute-kenntnisse-d {
  position: relative;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 6px;
  font-weight: 200;
  line-height: 8.184px;
  text-align: left;
}
.nbsp {
  position: relative;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 6px;
  font-weight: 700;
  line-height: 8.184px;
  text-align: left;
}
.git-docker-compose-nginx {
  position: relative;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 9px;
  font-weight: 700;
  line-height: 10.8px;
  text-align: left;
}
.fortgeschrittene-kenntnisse {
  position: relative;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 6px;
  font-weight: 200;
  line-height: 8.184px;
  text-align: left;
}
.nbsp-e {
  position: relative;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 6px;
  font-weight: 700;
  line-height: 8.184px;
  text-align: left;
}
.git-docker-compose-nginx-f {
  position: relative;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 9px;
  font-weight: 700;
  line-height: 10.8px;
  text-align: left;
}
.fortgeschrittene-kenntnisse-10 {
  position: relative;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 6px;
  font-weight: 200;
  line-height: 8.184px;
  text-align: left;
}
.nbsp-11 {
  position: relative;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 6px;
  font-weight: 700;
  line-height: 8.184px;
  text-align: left;
}
.git-docker-compose-nginx-12 {
  position: relative;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 9px;
  font-weight: 700;
  line-height: 10.8px;
  text-align: left;
}
.flex-row-e-13 {
  position: absolute;
  top: 56px;
  right: 171px;
  bottom: 522px;
  left: 104px;
  z-index: 54;
}
.line {
  position: absolute;
  width: 2px;
  height: 34px;
  top: 50%;
  left: 50%;
  background: url(./assets/images/88b928b6-5176-4894-a98c-afe5193a3ebd.png)
    no-repeat center;
  background-size: cover;
  transform: translate(-2000%, -50%);
  z-index: 54;
}
.viscircle-gmbh {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 11px;
  top: 1px;
  left: 18px;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
  white-space: nowrap;
  z-index: 52;
}
.fachinformatiker-anwendungsentwicklung {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 11px;
  top: 69px;
  left: 122px;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
  white-space: nowrap;
  z-index: 53;
}
.flex-row-eefe {
  position: absolute;
  top: 110px;
  right: 184px;
  bottom: 468px;
  left: 104px;
  z-index: 60;
}
.line-14 {
  position: absolute;
  width: 2px;
  height: 34px;
  top: 50%;
  left: 50%;
  background: url(./assets/images/39737a66-d365-4780-ac9f-fc5deec3f430.png)
    no-repeat center;
  background-size: cover;
  transform: translate(-1675%, -50%);
  z-index: 60;
}
.profil-gmbh {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 11px;
  top: 1px;
  left: 18px;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
  white-space: nowrap;
  z-index: 58;
}
.fachinformatiker-abgebrochen {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 11px;
  top: 123px;
  left: 122px;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
  white-space: nowrap;
  z-index: 59;
}
.flex-row-d {
  position: absolute;
  top: 164px;
  right: 143px;
  bottom: 414px;
  left: 104px;
  z-index: 66;
}
.line-15 {
  position: absolute;
  width: 2px;
  height: 34px;
  top: 50%;
  left: 50%;
  background: url(./assets/images/580fed46-3792-4275-9ac4-4518a5be09c4.png)
    no-repeat center;
  background-size: cover;
  transform: translate(-2700%, -50%);
  z-index: 66;
}
.vielseitige-berufsrollen {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 88px;
  height: 22px;
  top: 1px;
  left: 18px;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
  z-index: 64;
}
.mehrere-deutschkurse {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 11px;
  top: 177px;
  left: 122px;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
  white-space: nowrap;
  z-index: 65;
}
.flex-row-fa {
  position: absolute;
  top: 218px;
  right: 148px;
  bottom: 360px;
  left: 104px;
  z-index: 72;
}
.line-16 {
  position: absolute;
  width: 2px;
  height: 34px;
  top: 50%;
  left: 50%;
  background: url(./assets/images/7696fd54-54ca-4b30-bb7b-c65e135c1cb9.png)
    no-repeat center;
  background-size: cover;
  transform: translate(-2575%, -50%);
  z-index: 72;
}
.university-of-baghdad {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 11px;
  top: 1px;
  left: 18px;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
  white-space: nowrap;
  z-index: 70;
}
.petroleum-engineering {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 11px;
  top: 231px;
  left: 122px;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
  white-space: nowrap;
  z-index: 71;
}
.flex-row-f-17 {
  position: absolute;
  width: 337px;
  height: 42px;
  top: 300px;
  left: 11px;
  z-index: 38;
}
.image-18 {
  position: absolute;
  width: 29px;
  height: 28px;
  top: 0;
  left: 0;
  background: url(./assets/images/c2b583beb0ac35c783f305cde16cb6e7946fdbcb.png)
    no-repeat center;
  background-size: cover;
  z-index: 38;
  border-radius: 3px;
}
.spezifische-kenntnisse {
  position: absolute;
  width: 300px;
  height: 26px;
  top: 16px;
  left: 37px;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 26;
}
.spezifische-kenntnisse-19 {
  position: relative;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 6px;
  font-weight: 200;
  line-height: 10.912px;
  text-align: left;
}
.java-typescript-expressjs {
  position: relative;
  color: #666666;
  font-family: Nunito, var(--default-font-family);
  font-size: 9px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
}
.spezifische-kenntnisse-1a {
  position: relative;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 6px;
  font-weight: 200;
  line-height: 10.912px;
  text-align: left;
}
.nbsp-1b {
  position: relative;
  color: #666666;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
}
.java-typescript-expressjs-1c {
  position: relative;
  color: #666666;
  font-family: Nunito, var(--default-font-family);
  font-size: 9px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
}
.nodejs {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  top: 300px;
  left: 49px;
  color: #c0c0c0;
  font-family: Nunito, var(--default-font-family);
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 34;
}
.reactjs {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  top: 346px;
  left: 49px;
  color: #c0c0c0;
  font-family: Nunito, var(--default-font-family);
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 35;
}
.flex-row-1d {
  position: absolute;
  width: 316px;
  height: 38px;
  top: 348px;
  left: 11px;
  z-index: 39;
}
.frame-1e {
  position: absolute;
  width: 29px;
  height: 29px;
  top: 0;
  left: 0;
  background: #27282c;
  z-index: 39;
  overflow: hidden;
  border-radius: 3px;
}
.image-1f {
  position: absolute;
  width: 30px;
  height: 29px;
  top: 50%;
  left: 50%;
  background: url(./assets/images/a2079d392e1f57db08c25afe7c63cfda9f5fc842.png)
    no-repeat center;
  background-size: cover;
  transform: translate(-51.67%, -50%);
  z-index: 40;
}
.specific-knowledge {
  position: absolute;
  width: 279px;
  height: 26px;
  top: 12px;
  left: 37px;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 27;
}
.specific-knowledge-20 {
  position: relative;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 6px;
  font-weight: 200;
  line-height: 10.912px;
  text-align: left;
}
.specific-knowledge-21 {
  position: relative;
  color: #666666;
  font-family: Nunito, var(--default-font-family);
  font-size: 9px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
}
.specific-knowledge-22 {
  position: relative;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 6px;
  font-weight: 200;
  line-height: 10.912px;
  text-align: left;
}
.empty {
  position: relative;
  color: #666666;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
}
.specific-knowledge-23 {
  position: relative;
  color: #666666;
  font-family: Nunito, var(--default-font-family);
  font-size: 9px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
}
.flex-row-24 {
  position: absolute;
  width: 261px;
  height: 36px;
  top: 393px;
  left: 11px;
  z-index: 41;
}
.frame-25 {
  position: absolute;
  width: 29px;
  height: 26px;
  top: 0;
  left: 0;
  background: #27282c;
  z-index: 41;
  overflow: hidden;
  border-radius: 3px;
}
.image-26 {
  position: absolute;
  width: 29px;
  height: 26px;
  top: 0;
  left: 0;
  background: url(./assets/images/4a4dbd43856534633f7a24fdb4ef4b36a75f8173.png)
    no-repeat center;
  background-size: cover;
  z-index: 42;
}
.good-knowledge {
  position: absolute;
  width: 224px;
  height: 22px;
  top: 14px;
  left: 37px;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 28;
}
.good-knowledge-27 {
  position: relative;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 6px;
  font-weight: 200;
  line-height: 10.912px;
  text-align: left;
}
.empty-28 {
  position: relative;
  color: #666666;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
}
.java {
  position: relative;
  color: #666666;
  font-family: Nunito, var(--default-font-family);
  font-size: 9px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
}
.good-knowledge-29 {
  position: relative;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 6px;
  font-weight: 200;
  line-height: 10.912px;
  text-align: left;
}
.empty-2a {
  position: relative;
  color: #666666;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
}
.java-2b {
  position: relative;
  color: #666666;
  font-family: Nunito, var(--default-font-family);
  font-size: 9px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
}
.spring-boot {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  top: 393px;
  left: 49px;
  color: #c0c0c0;
  font-family: Nunito, var(--default-font-family);
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 37;
}
.flex-row-b-2c {
  position: absolute;
  width: 309px;
  height: 38px;
  top: 438px;
  left: 11px;
  z-index: 43;
}
.frame-2d {
  position: absolute;
  width: 32px;
  height: 30px;
  top: 0;
  left: 0;
  background: #27282c;
  z-index: 43;
  overflow: hidden;
  border-radius: 3px;
}
.image-2e {
  position: absolute;
  width: 37px;
  height: 34px;
  top: -4px;
  left: -5px;
  background: url(./assets/images/a50d786a7a97f7e674cde02b59ceff072678689b.png)
    no-repeat center;
  background-size: cover;
  z-index: 44;
}
.advanced-knowledge {
  position: absolute;
  width: 272px;
  height: 24px;
  top: 14px;
  left: 37px;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 29;
}
.advanced-knowledge-2f {
  position: relative;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 6px;
  font-weight: 200;
  line-height: 10.912px;
  text-align: left;
}
.empty-30 {
  position: relative;
  color: #666666;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
}
.python-rpi-gpio {
  position: relative;
  color: #666666;
  font-family: Nunito, var(--default-font-family);
  font-size: 9px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
}
.advanced-knowledge-31 {
  position: relative;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 6px;
  font-weight: 200;
  line-height: 10.912px;
  text-align: left;
}
.empty-32 {
  position: relative;
  color: #666666;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
}
.python-rpi-gpio-33 {
  position: relative;
  color: #666666;
  font-family: Nunito, var(--default-font-family);
  font-size: 9px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
}
.systems-iot {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  top: 438px;
  left: 49px;
  color: #c0c0c0;
  font-family: Nunito, var(--default-font-family);
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 36;
}
.flex-row-dc {
  position: absolute;
  width: 102px;
  height: 30.444px;
  top: 482px;
  left: 8px;
  z-index: 45;
}
.database {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  top: 0;
  left: 41px;
  color: #c0c0c0;
  font-family: Nunito, var(--default-font-family);
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 30;
}
.frame-34 {
  position: absolute;
  width: 32px;
  height: 28.444px;
  top: 2px;
  left: 0;
  background: #27282c;
  z-index: 45;
  overflow: hidden;
  border-radius: 3px;
}
.image-35 {
  position: relative;
  width: 29px;
  height: 29px;
  margin: 2px 0 0 2px;
  background: url(./assets/images/b37dc9489ae110bdcb4fc7e90f75467457cc11ad.png)
    no-repeat center;
  background-size: cover;
  z-index: 46;
}
.sql-developer {
  position: absolute;
  width: 303px;
  height: 43px;
  top: 498px;
  left: 48px;
  font-family: Nunito, var(--default-font-family);
  font-size: 6px;
  font-weight: 700;
  line-height: 8.184px;
  text-align: left;
  z-index: 32;
}
.gute-kenntnisse-36 {
  position: relative;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 6px;
  font-weight: 200;
  line-height: 8.184px;
  text-align: left;
}
.sql {
  position: relative;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 6px;
  font-weight: 700;
  line-height: 8.184px;
  text-align: left;
}
.sql-developer-37 {
  position: relative;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 9px;
  font-weight: 700;
  line-height: 10.8px;
  text-align: left;
}
.gute-kenntnisse-38 {
  position: relative;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 6px;
  font-weight: 200;
  line-height: 8.184px;
  text-align: left;
}
.sql-39 {
  position: relative;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 6px;
  font-weight: 700;
  line-height: 8.184px;
  text-align: left;
}
.sql-developer-3a {
  position: relative;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 9px;
  font-weight: 700;
  line-height: 10.8px;
  text-align: left;
}
.gute-kenntnisse-3b {
  position: relative;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 6px;
  font-weight: 200;
  line-height: 8.184px;
  text-align: left;
}
.sql-developer-3c {
  position: relative;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 9px;
  font-weight: 700;
  line-height: 10.8px;
  text-align: left;
}
.text-4f {
  position: relative;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 6px;
  font-weight: 700;
  line-height: 8.184px;
  text-align: left;
}
.frame-3d {
  position: absolute;
  width: 201px;
  height: 215px;
  top: 50%;
  left: 50%;
  font-size: 0px;
  background: #ffffff;
  transform: translate(41.79%, -141.86%);
  z-index: 80;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.1);
}
.ueber-mich {
  display: block;
  position: relative;
  height: 12px;
  margin: 7px 0 0 16px;
  color: #99d3ff;
  font-family: Nunito, var(--default-font-family);
  font-size: 9px;
  font-weight: 700;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 81;
}
.text-51 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 178px;
  height: 105px;
  margin: 2px 0 0 16px;
  color: #727272;
  font-family: Nunito Sans, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
  text-overflow: ellipsis;
  z-index: 83;
  overflow: hidden;
}
.sprachkenntnisse {
  display: block;
  position: relative;
  height: 12px;
  margin: -7px 0 0 16px;
  color: #99d3ff;
  font-family: Nunito, var(--default-font-family);
  font-size: 9px;
  font-weight: 700;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 85;
}
.hobby {
  display: block;
  position: relative;
  height: 12px;
  margin: 50px 0 0 16px;
  color: #99d3ff;
  font-family: Nunito, var(--default-font-family);
  font-size: 9px;
  font-weight: 700;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 82;
}
.mathe-raetsel {
  display: block;
  position: relative;
  height: 11px;
  margin: 3px 0 0 16px;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
  white-space: nowrap;
  z-index: 84;
}
.deutsch {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 11px;
  top: 140px;
  left: 16px;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
  white-space: nowrap;
  z-index: 86;
}
.frame-3e {
  position: absolute;
  width: 127px;
  height: 4px;
  top: 142px;
  left: 51px;
  background: #c9dbe8;
  z-index: 89;
  overflow: hidden;
  border-radius: 17px;
}
.rectangle {
  position: relative;
  width: 108px;
  height: 4px;
  margin: 0 0 0 0;
  background: #1c9fff;
  z-index: 90;
  border-radius: 19px;
}
.englisch {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 11px;
  top: 153px;
  left: 16px;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
  white-space: nowrap;
  z-index: 87;
}
.frame-3f {
  position: absolute;
  width: 127px;
  height: 4px;
  top: 155px;
  left: 51px;
  background: #c9dbe8;
  z-index: 91;
  overflow: hidden;
  border-radius: 17px;
}
.rectangle-40 {
  position: relative;
  width: 92px;
  height: 4px;
  margin: 0 0 0 0;
  background: #1c9fff;
  z-index: 92;
  border-radius: 14px;
}
.arabisch {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 11px;
  top: 166px;
  left: 16px;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
  white-space: nowrap;
  z-index: 88;
}
.frame-41 {
  position: absolute;
  width: 127px;
  height: 4px;
  top: 168px;
  left: 51px;
  background: #c9dbe8;
  z-index: 93;
  overflow: hidden;
  border-radius: 17px;
}
.rectangle-42 {
  position: absolute;
  width: 127px;
  height: 4px;
  top: 0;
  left: 0;
  background: #1c9fff;
  z-index: 94;
  border-radius: 17px;
}
.frame-43 {
  position: absolute;
  width: 201px;
  height: 384px;
  top: 50%;
  left: 50%;
  font-size: 0px;
  background: #ffffff;
  transform: translate(41.79%, -22.14%);
  z-index: 77;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.1);
}
.erfahrungen-weitere-skills {
  display: block;
  position: relative;
  height: 12px;
  margin: 7px 0 0 10px;
  color: #99d3ff;
  font-family: Nunito, var(--default-font-family);
  font-size: 9px;
  font-weight: 700;
  line-height: 12px;
  text-align: left;
  white-space: nowrap;
  z-index: 78;
}
.text-59 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 189px;
  height: 352px;
  margin: 4px 0 0 4px;
  color: #727272;
  font-family: Nunito Sans, var(--default-font-family);
  font-size: 8.3px;
  font-weight: 700;
  line-height: 11.321px;
  text-align: left;
  text-overflow: ellipsis;
  z-index: 79;
  overflow: hidden;
  padding-left: 20px;
}
.text-59 li {
  list-style-type: disc;
  margin-bottom: 4px;
}


.button-container {
  position: absolute;
  left: 50%; /* Center horizontally */
  top: 3px;
  transform: translateX(-80%); 
  display: flex;
  gap: 10px;
}
.custom-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #36a0ed;
  color: white;
  font-family: Nunito, var(--default-font-family);
  font-size: 10px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: #1c9fff;
}