:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}

.main-container {
  position: relative;
  width: 598px;
  height: 842px;
  margin: 0 auto;
  background: #daedfb;
  overflow: hidden;
  border-radius: 17px;
}
.frame-1 {
  position: relative;
  width: 563px;
  height: 184px;
  margin: 23px 0 0 17px;
  background: #ffffff;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.1);
}
.flex-row-b {
  display: flex;
  align-items: center;
  justify-content: baseline;
  position: relative;
  width: 117px;
  height: 12px;
  margin: 8px 0 0 348px;
  z-index: 22;
}
.language {
  flex-shrink: 0;
  position: relative;
  width: 12px;
  height: 12px;
  background: url(./assets/images/0515e66f-9b2b-4a0d-8d81-01bc54bf3608.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 22;
  margin-right: 5px;
}
.www-khalid-com-de {
  flex-shrink: 0;
  position: relative;
  height: 11px;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
  white-space: nowrap;
  z-index: 21;
}
.flex-row-ce {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 85px;
  height: 12px;
  margin: 9px 0 0 348px;
  z-index: 13;
}
.smartphone {
  flex-shrink: 0;
  position: relative;
  width: 12px;
  height: 12px;
  background: url(./assets/images/b47a2938-e033-4450-b3c8-5c39940ff02e.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 13;
}
.phone-number {
  flex-shrink: 0;
  position: relative;
  height: 11px;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
  white-space: nowrap;
  z-index: 5;
}
.flex-row {
  position: relative;
  width: 520px;
  height: 100px;
  margin: -9px 0 0 14px;
  z-index: 17;
}
.geburtjahr {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 11px;
  top: 0;
  left: 0;
  color: #99d3ff;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
  white-space: nowrap;
  z-index: 10;
}
.frame-2 {
  position: absolute;
  width: 100px;
  height: 100px;
  top: 0;
  left: 217px;
  background: #99d3ff;
  z-index: 1;
  overflow: hidden;
  border-radius: 50px;
}
.frame-3 {
  position: relative;
  width: 96px;
  height: 96px;
  margin: 2px 0 0 2px;
  background: #ffffff;
  z-index: 2;
  overflow: hidden;
  border-radius: 109px;
}
.image {
  position: absolute;
  width: 121px;
  height: 118px;
  top: 0;
  left: -18px;
  background: url(./assets/images/ad97fc2b7004a4ee0fbcaaf9057c72df06ef90f6.png)
    no-repeat center;
  background-size: cover;
  z-index: 3;
}
.text-4 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 11px;
  top: 13px;
  left: 4px;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
  white-space: nowrap;
  z-index: 6;
}
.mail {
  position: absolute;
  width: 2.69%;
  height: 12.83%;
  top: 25%;
  left: 64.04%;
  background: url(./assets/images/6d1fa25b-ff60-4004-afc1-1841a4e2d36f.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 14;
}
.email {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 11px;
  top: 27px;
  left: 351px;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
  white-space: nowrap;
  z-index: 12;
}
.wohnort {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 11px;
  top: 31px;
  left: 0;
  color: #99d3ff;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
  white-space: nowrap;
  z-index: 9;
}
.hannover {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 11px;
  top: 42px;
  left: 4px;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
  white-space: nowrap;
  z-index: 11;
}
.vector {
  position: absolute;
  width: 2.31%;
  height: 12%;
  top: 53%;
  left: 64.23%;
  background: url(./assets/images/8cfee412-c24b-452d-ad19-db2664338bed.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 16;
}
.linkedin {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 11px;
  top: 54px;
  left: 351px;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
  white-space: nowrap;
  z-index: 8;
}
.khalid-waleed-khalid {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 27px;
  top: 72px;
  left: 0;
  color: #36a0ed;
  font-family: Nunito, var(--default-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 27px;
  text-align: left;
  white-space: nowrap;
  z-index: 17;
}
.vector-4 {
  position: absolute;
  width: 2.31%;
  height: 12%;
  top: 83%;
  left: 64.23%;
  background: url(./assets/images/8c5a29c9-d6a0-4c4f-9918-c492b6779e8c.png)
    no-repeat center;
  background-size: 100% 100%;
  z-index: 15;
}
.github {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 11px;
  top: 84px;
  left: 351px;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
  white-space: nowrap;
  z-index: 7;
}
.flex-row-fc {
  position: relative;
  width: 499px;
  height: 46px;
  margin: -8px 0 0 61px;
  z-index: 20;
}
.handwritten {
  position: absolute;
  width: 96px;
  height: 46px;
  top: 0;
  left: 315px;
  z-index: 18;
}
.full-stack-developer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  top: 18px;
  left: 0;
  color: #c0c0c0;
  font-family: Nunito, var(--default-font-family);
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 4;
}
.images {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 23px;
  left: 287px;
  background: url(./assets/images/31d3bbac7461ecf2ca2c9e30bdc4d9537118e8a8.png)
    no-repeat center;
  background-size: cover;
  z-index: 20;
}
.xing {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 11px;
  top: 24px;
  left: 304px;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
  white-space: nowrap;
  z-index: 19;
}
.flex-row-ecf {
  position: relative;
  width: 563px;
  height: 610px;
  margin: 9px 0 0 17px;
  z-index: 103;
}
.frame-5 {
  position: absolute;
  width: 353px;
  height: 610px;
  top: 50%;
  left: 50%;
  font-size: 0px;
  background: #ffffff;
  transform: translate(-79.75%, -50%);
  z-index: 23;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.1);
}
.education {
  display: block;
  position: relative;
  height: 11px;
  margin: 16px 0 0 16px;
  color: #99d3ff;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
  white-space: nowrap;
  z-index: 24;
}
.flex-row-f {
  position: relative;
  width: 160px;
  height: 14px;
  margin: 12px 0 0 16px;
  z-index: 54;
}
.ellipse {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 0;
  left: 82px;
  background: url(./assets/images/cc7487a2-ac53-46f2-bd4e-c0dd26bffbfd.png)
    no-repeat center;
  background-size: cover;
  z-index: 53;
  border-radius: 50%;
}
.ausbildung {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 14px;
  top: 0;
  left: 106px;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 10px;
  font-weight: 700;
  line-height: 13.64px;
  text-align: left;
  white-space: nowrap;
  z-index: 54;
}
.aug-jun {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 8px;
  top: 2px;
  left: 0;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 6px;
  font-weight: 700;
  line-height: 8px;
  text-align: left;
  white-space: nowrap;
  z-index: 52;
}
.flex-row-e {
  position: relative;
  width: 165px;
  height: 14px;
  margin: 40px 0 0 16px;
  z-index: 60;
}
.ellipse-6 {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 0;
  left: 82px;
  background: url(./assets/images/cc635d04-767d-4442-9bec-c6d556a8ac98.png)
    no-repeat center;
  background-size: cover;
  z-index: 59;
  border-radius: 50%;
}
.umschulung {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 14px;
  top: 0;
  left: 106px;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 10px;
  font-weight: 700;
  line-height: 13.64px;
  text-align: left;
  white-space: nowrap;
  z-index: 60;
}
.jan-jul {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 8px;
  top: 2px;
  left: 0;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 6px;
  font-weight: 700;
  line-height: 8px;
  text-align: left;
  white-space: nowrap;
  z-index: 58;
}
.flex-row-a {
  position: relative;
  width: 160px;
  height: 14px;
  margin: 40px 0 0 16px;
  z-index: 66;
}
.ellipse-7 {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 0;
  left: 82px;
  background: url(./assets/images/65964374-9a6d-41a4-970d-05d09ab62d6d.png)
    no-repeat center;
  background-size: cover;
  z-index: 65;
  border-radius: 50%;
}
.c-deutsch {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 14px;
  top: 0;
  left: 106px;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 10px;
  font-weight: 700;
  line-height: 13.64px;
  text-align: left;
  white-space: nowrap;
  z-index: 66;
}
.sep-dez {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 8px;
  top: 2px;
  left: 0;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 6px;
  font-weight: 700;
  line-height: 8px;
  text-align: left;
  white-space: nowrap;
  z-index: 64;
}
.flex-row-ed {
  position: relative;
  width: 148px;
  height: 14px;
  margin: 40px 0 0 16px;
  z-index: 72;
}
.ellipse-8 {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 0;
  left: 82px;
  background: url(./assets/images/ee6621f8-679a-47a1-86c1-64b01b57b96a.png)
    no-repeat center;
  background-size: cover;
  z-index: 71;
  border-radius: 50%;
}
.bachelor {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 14px;
  top: 0;
  left: 106px;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 10px;
  font-weight: 700;
  line-height: 13.64px;
  text-align: left;
  white-space: nowrap;
  z-index: 72;
}
.sep-jun {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 8px;
  top: 2px;
  left: 0;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 6px;
  font-weight: 700;
  line-height: 8px;
  text-align: left;
  white-space: nowrap;
  z-index: 70;
}
.flex-row-ce-9 {
  position: relative;
  width: 195px;
  height: 14px;
  margin: 40px 0 0 16px;
  z-index: 78;
}
.ellipse-a {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 0;
  left: 82px;
  background: url(./assets/images/e7949610-8b2a-42d4-837f-2f22149336d2.png)
    no-repeat center;
  background-size: cover;
  z-index: 77;
  border-radius: 50%;
}
.fachhochschulreife {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 14px;
  top: 0;
  left: 106px;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 10px;
  font-weight: 700;
  line-height: 13.64px;
  text-align: left;
  white-space: nowrap;
  z-index: 78;
}
.sep-jun-b {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 8px;
  top: 2px;
  left: 0;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 6px;
  font-weight: 700;
  line-height: 8px;
  text-align: left;
  white-space: nowrap;
  z-index: 76;
}
.bagdad {
  display: block;
  position: relative;
  height: 11px;
  margin: 4px 0 0 122px;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
  white-space: nowrap;
  z-index: 79;
}
.skills {
  display: block;
  position: relative;
  height: 16px;
  margin: -1px 0 0 16px;
  color: #99d3ff;
  font-family: Nunito, var(--default-font-family);
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 25;
}
.flex-row-c {
  position: relative;
  width: 80px;
  height: 28px;
  margin: 1px 0 0 11px;
  z-index: 39;
}
.image-d {
  position: absolute;
  width: 29px;
  height: 28px;
  top: 0;
  left: 0;
  background: url(./assets/images/c2b583beb0ac35c783f305cde16cb6e7946fdbcb.png)
    no-repeat center;
  background-size: cover;
  z-index: 39;
  border-radius: 3px;
}
.nodejs {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  top: 0;
  left: 38px;
  color: #c0c0c0;
  font-family: Nunito, var(--default-font-family);
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 34;
}
.spezifische-kenntnisse {
  position: relative;
  width: 300px;
  height: 26px;
  margin: -8px 0 0 49px;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 26;
}
.spezifische-kenntnisse-e {
  position: relative;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 6px;
  font-weight: 200;
  line-height: 10.912px;
  text-align: left;
}
.gute-kenntnisse {
  position: relative;
  color: #666666;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
}
.spezifische-kenntnisse-f {
  position: relative;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 6px;
  font-weight: 200;
  line-height: 10.912px;
  text-align: left;
}
.orm-odm-restful-api {
  position: relative;
  color: #666666;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
}
.flex-row-cd {
  position: relative;
  width: 102px;
  height: 28px;
  margin: 141px 0 0 11px;
  z-index: 50;
}
.frame-10 {
  position: absolute;
  width: 29px;
  height: 28px;
  top: 0;
  left: 0;
  background: #27282c;
  z-index: 50;
  overflow: hidden;
  border-radius: 3px;
}
.image-11 {
  position: absolute;
  width: 29px;
  height: 28px;
  top: 0;
  left: 0;
  background: url(./assets/images/e830959c7e5abc1e5298b4b61730a7847b93d911.png)
    no-repeat center;
  background-size: cover;
  z-index: 51;
}
.more-skills {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  top: 3px;
  left: 38px;
  color: #c0c0c0;
  font-family: Nunito, var(--default-font-family);
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 38;
}
.flex-row-dc {
  position: relative;
  width: 53px;
  height: 16px;
  margin: -5px 0 0 49px;
  z-index: 46;
}
.frame-12 {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  background: #27282c;
  z-index: 46;
  overflow: hidden;
  border-radius: 3px;
}
.image-13 {
  position: relative;
  width: 12px;
  height: 12px;
  margin: 2px 0 0 2px;
  background: url(./assets/images/b37dc9489ae110bdcb4fc7e90f75467457cc11ad.png)
    no-repeat center;
  background-size: cover;
  z-index: 47;
}
.database {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 10px;
  top: 0;
  left: 20px;
  color: #c0c0c0;
  font-family: Nunito, var(--default-font-family);
  font-size: 7px;
  font-weight: 700;
  line-height: 9.548px;
  text-align: left;
  white-space: nowrap;
  z-index: 30;
}
.database-skills {
  position: relative;
  width: 270px;
  height: 32px;
  margin: -6px 0 0 69px;
  font-family: Nunito, var(--default-font-family);
  font-size: 6px;
  font-weight: 700;
  line-height: 8.184px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 32;
}
.good-sql-skills {
  position: relative;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 6px;
  font-weight: 200;
  line-height: 8.184px;
  text-align: left;
}
.sql-skills {
  position: relative;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 6px;
  font-weight: 700;
  line-height: 8.184px;
  text-align: left;
}
.good-sql-skills-14 {
  position: relative;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 6px;
  font-weight: 200;
  line-height: 8.184px;
  text-align: left;
}
.sql-skills-15 {
  position: relative;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 6px;
  font-weight: 700;
  line-height: 8.184px;
  text-align: left;
}
.good-sql-skills-16 {
  position: relative;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 6px;
  font-weight: 200;
  line-height: 8.184px;
  text-align: left;
}
.other-database-skills {
  position: relative;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 6px;
  font-weight: 700;
  line-height: 8.184px;
  text-align: left;
}
.flex-row-dcd {
  position: relative;
  width: 53px;
  height: 16px;
  margin: -5px 0 0 49px;
  z-index: 48;
}
.devops {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  background: #27282c;
  z-index: 48;
  overflow: hidden;
  border-radius: 3px;
}
.image-17 {
  position: relative;
  width: 14px;
  height: 7.653px;
  margin: 4px 0 0 1px;
  background: url(./assets/images/b9047f3c81c626806cd8aec89578573cd51e6855.png)
    no-repeat center;
  background-size: cover;
  z-index: 49;
}
.others {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 10px;
  top: 0;
  left: 20px;
  color: #c0c0c0;
  font-family: Nunito, var(--default-font-family);
  font-size: 7px;
  font-weight: 700;
  line-height: 9.548px;
  text-align: left;
  white-space: nowrap;
  z-index: 31;
}
.other-skills {
  position: relative;
  width: 228px;
  height: 32px;
  margin: -6px 0 0 69px;
  font-family: Nunito, var(--default-font-family);
  font-size: 6px;
  font-weight: 700;
  line-height: 8.184px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 33;
}
.good-git-skills {
  position: relative;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 6px;
  font-weight: 200;
  line-height: 8.184px;
  text-align: left;
}
.git-skills {
  position: relative;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 6px;
  font-weight: 700;
  line-height: 8.184px;
  text-align: left;
}
.advanced-devops-skills {
  position: relative;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 6px;
  font-weight: 200;
  line-height: 8.184px;
  text-align: left;
}
.git-skills-18 {
  position: relative;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 6px;
  font-weight: 700;
  line-height: 8.184px;
  text-align: left;
}
.advanced-devops-skills-19 {
  position: relative;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 6px;
  font-weight: 200;
  line-height: 8.184px;
  text-align: left;
}
.basic-devops-skills {
  position: relative;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 6px;
  font-weight: 700;
  line-height: 8.184px;
  text-align: left;
}
.flex-row-e-1a {
  position: absolute;
  top: 56px;
  right: 171px;
  bottom: 522px;
  left: 104px;
  z-index: 57;
}
.line {
  position: absolute;
  width: 2px;
  height: 34px;
  top: 50%;
  left: 50%;
  background: url(./assets/images/d8dd45e7-5321-48ef-9f59-c9146758ca82.png)
    no-repeat center;
  background-size: cover;
  transform: translate(-2000%, -50%);
  z-index: 57;
}
.viscircle-gmbh {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 11px;
  top: 1px;
  left: 18px;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
  white-space: nowrap;
  z-index: 55;
}
.application-developer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 11px;
  top: 69px;
  left: 122px;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
  white-space: nowrap;
  z-index: 56;
}
.flex-row-eefe {
  position: absolute;
  top: 110px;
  right: 184px;
  bottom: 468px;
  left: 104px;
  z-index: 63;
}
.line-1b {
  position: absolute;
  width: 2px;
  height: 34px;
  top: 50%;
  left: 50%;
  background: url(./assets/images/11d9a482-cf22-43d5-b57a-66a3827be0a3.png)
    no-repeat center;
  background-size: cover;
  transform: translate(-1675%, -50%);
  z-index: 63;
}
.profil-gmbh {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 11px;
  top: 1px;
  left: 18px;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
  white-space: nowrap;
  z-index: 61;
}
.dropped-application-developer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 11px;
  top: 123px;
  left: 122px;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
  white-space: nowrap;
  z-index: 62;
}
.flex-row-d {
  position: absolute;
  top: 164px;
  right: 143px;
  bottom: 414px;
  left: 104px;
  z-index: 69;
}
.line-1c {
  position: absolute;
  width: 2px;
  height: 34px;
  top: 50%;
  left: 50%;
  background: url(./assets/images/2adab095-d556-406e-aa34-1740ed534cc3.png)
    no-repeat center;
  background-size: cover;
  transform: translate(-2700%, -50%);
  z-index: 69;
}
.span {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  width: 88px;
  height: 22px;
  top: 1px;
  left: 18px;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
  z-index: 67;
}
.span-1d {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 11px;
  top: 177px;
  left: 122px;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
  white-space: nowrap;
  z-index: 68;
}
.flex-row-fa {
  position: absolute;
  top: 218px;
  right: 148px;
  bottom: 360px;
  left: 104px;
  z-index: 75;
}
.line-1e {
  position: absolute;
  width: 2px;
  height: 34px;
  top: 50%;
  left: 50%;
  background: url(./assets/images/8c2a2741-dd16-4833-81c2-bee75677f381.png)
    no-repeat center;
  background-size: cover;
  transform: translate(-2575%, -50%);
  z-index: 75;
}
.span-1f {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 11px;
  top: 1px;
  left: 18px;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
  white-space: nowrap;
  z-index: 73;
}
.span-20 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 11px;
  top: 231px;
  left: 122px;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
  white-space: nowrap;
  z-index: 74;
}
.span-21 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  top: 346px;
  left: 49px;
  color: #c0c0c0;
  font-family: Nunito, var(--default-font-family);
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 35;
}
.flex-row-22 {
  position: absolute;
  width: 317px;
  height: 38px;
  top: 348px;
  left: 11px;
  z-index: 40;
}
.frame-23 {
  position: absolute;
  width: 29px;
  height: 29px;
  top: 0;
  left: 0;
  background: #27282c;
  z-index: 40;
  overflow: hidden;
  border-radius: 3px;
}
.image-24 {
  position: absolute;
  width: 30px;
  height: 29px;
  top: 50%;
  left: 50%;
  background: url(./assets/images/a2079d392e1f57db08c25afe7c63cfda9f5fc842.png)
    no-repeat center;
  background-size: cover;
  transform: translate(-51.67%, -50%);
  z-index: 41;
}
.specific-knowledge {
  position: absolute;
  width: 279px;
  height: 26px;
  top: 12px;
  left: 38px;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 27;
}
.span-25 {
  position: relative;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 6px;
  font-weight: 200;
  line-height: 10.912px;
  text-align: left;
}
.span-26 {
  position: relative;
  color: #666666;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
}
.span-27 {
  position: relative;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 6px;
  font-weight: 200;
  line-height: 10.912px;
  text-align: left;
}
.span-28 {
  position: relative;
  color: #666666;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
}
.flex-row-29 {
  position: absolute;
  width: 262px;
  height: 36px;
  top: 393px;
  left: 11px;
  z-index: 42;
}
.frame-2a {
  position: absolute;
  width: 29px;
  height: 26px;
  top: 0;
  left: 0;
  background: #27282c;
  z-index: 42;
  overflow: hidden;
  border-radius: 3px;
}
.image-2b {
  position: absolute;
  width: 29px;
  height: 26px;
  top: 0;
  left: 0;
  background: url(./assets/images/4a4dbd43856534633f7a24fdb4ef4b36a75f8173.png)
    no-repeat center;
  background-size: cover;
  z-index: 43;
}
.good-knowledge {
  position: absolute;
  width: 224px;
  height: 22px;
  top: 14px;
  left: 38px;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 28;
}
.span-2c {
  position: relative;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 6px;
  font-weight: 200;
  line-height: 10.912px;
  text-align: left;
}
.span-2d {
  position: relative;
  color: #666666;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
}
.span-2e {
  position: relative;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 6px;
  font-weight: 200;
  line-height: 10.912px;
  text-align: left;
}
.span-2f {
  position: relative;
  color: #666666;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
}
.span-30 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  top: 393px;
  left: 49px;
  color: #c0c0c0;
  font-family: Nunito, var(--default-font-family);
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 37;
}
.flex-row-b-31 {
  position: absolute;
  width: 309px;
  height: 38px;
  top: 438px;
  left: 11px;
  z-index: 44;
}
.frame-32 {
  position: absolute;
  width: 32px;
  height: 30px;
  top: 0;
  left: 0;
  background: #27282c;
  z-index: 44;
  overflow: hidden;
  border-radius: 3px;
}
.image-33 {
  position: absolute;
  width: 37px;
  height: 34px;
  top: -4px;
  left: -5px;
  background: url(./assets/images/a50d786a7a97f7e674cde02b59ceff072678689b.png)
    no-repeat center;
  background-size: cover;
  z-index: 45;
}
.advanced-knowledge {
  position: absolute;
  width: 272px;
  height: 24px;
  top: 14px;
  left: 37px;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
  text-overflow: initial;
  white-space: nowrap;
  z-index: 29;
}
.span-34 {
  position: relative;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 6px;
  font-weight: 200;
  line-height: 10.912px;
  text-align: left;
}
.span-35 {
  position: relative;
  color: #666666;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
}
.span-36 {
  position: relative;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 6px;
  font-weight: 200;
  line-height: 10.912px;
  text-align: left;
}
.raspbian-linux-android-studio {
  position: relative;
  color: #666666;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
}
.systems-iot {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 16px;
  top: 438px;
  left: 49px;
  color: #c0c0c0;
  font-family: Nunito, var(--default-font-family);
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  text-align: left;
  white-space: nowrap;
  z-index: 36;
}
.frame-37 {
  position: absolute;
  width: 194px;
  height: 419px;
  top: 50%;
  left: 50%;
  font-size: 0px;
  background: #ffffff;
  transform: translate(45.1%, -72.79%);
  z-index: 103;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.1);
}
.uber-mich {
  display: block;
  position: relative;
  height: 11px;
  margin: 7px 0 0 16px;
  color: #99d3ff;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
  white-space: nowrap;
  z-index: 104;
}
.hallo-khalid-waleed-khalid {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 162px;
  height: 104px;
  margin: 3px 0 0 16px;
  color: #727272;
  font-family: Nunito Sans, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
  text-overflow: ellipsis;
  z-index: 106;
  overflow: hidden;
}
.erfahrungen {
  display: block;
  position: relative;
  height: 11px;
  margin: 0 0 0 16px;
  color: #99d3ff;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
  white-space: nowrap;
  z-index: 108;
}
.ausbildung-fachinformatiker {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 162px;
  height: 248px;
  margin: 3px 0 0 16px;
  color: #727272;
  font-family: Nunito Sans, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
  text-overflow: ellipsis;
  z-index: 109;
  overflow: hidden;
}
.hobby {
  display: block;
  position: relative;
  height: 11px;
  margin: 0 0 0 16px;
  color: #99d3ff;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
  white-space: nowrap;
  z-index: 105;
}
.mathe-ratsel-kochen-wandern {
  display: block;
  position: relative;
  height: 11px;
  margin: 3px 0 0 16px;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
  white-space: nowrap;
  z-index: 107;
}
.frame-38 {
  position: absolute;
  width: 194px;
  height: 175px;
  top: 50%;
  left: 50%;
  font-size: 0px;
  background: #ffffff;
  transform: translate(43.04%, 70.86%);
  z-index: 80;
  overflow: hidden;
  border-radius: 16px;
  box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.1);
}
.projekte {
  display: block;
  position: relative;
  height: 11px;
  margin: 4px 0 0 14px;
  color: #99d3ff;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
  white-space: nowrap;
  z-index: 81;
}
.erstellung-webshop-hosting {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 179px;
  height: 110px;
  margin: -6px 0 0 9px;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
  z-index: 92;
}
.sprachkenntnisse {
  display: block;
  position: relative;
  height: 11px;
  margin: 1px 0 0 14px;
  color: #99d3ff;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
  white-space: nowrap;
  z-index: 93;
}
.sprachkenntnisse-39 {
  display: block;
  position: relative;
  height: 11px;
  margin: 224px 0 0 16px;
  color: #99d3ff;
  font-family: Nunito, var(--default-font-family);
  font-size: 8px;
  font-weight: 700;
  line-height: 10.912px;
  text-align: left;
  white-space: nowrap;
  z-index: 82;
}
.deutsch {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 8px;
  top: 137px;
  left: 18px;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 6px;
  font-weight: 700;
  line-height: 8px;
  text-align: left;
  white-space: nowrap;
  z-index: 94;
}
.frame-3a {
  position: absolute;
  width: 127px;
  height: 4px;
  top: 139px;
  left: 53px;
  background: #c9dbe8;
  z-index: 97;
  overflow: hidden;
  border-radius: 17px;
}
.rectangle {
  position: relative;
  width: 108px;
  height: 4px;
  margin: 0 0 0 0;
  background: #1c9fff;
  z-index: 98;
  border-radius: 19px;
}
.englisch {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 8px;
  top: 150px;
  left: 18px;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 6px;
  font-weight: 700;
  line-height: 8px;
  text-align: left;
  white-space: nowrap;
  z-index: 95;
}
.frame-3b {
  position: absolute;
  width: 127px;
  height: 4px;
  top: 152px;
  left: 53px;
  background: #c9dbe8;
  z-index: 99;
  overflow: hidden;
  border-radius: 17px;
}
.rectangle-3c {
  position: relative;
  width: 92px;
  height: 4px;
  margin: 0 0 0 0;
  background: #1c9fff;
  z-index: 100;
  border-radius: 14px;
}
.arabisch {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 8px;
  top: 163px;
  left: 18px;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 6px;
  font-weight: 700;
  line-height: 8px;
  text-align: left;
  white-space: nowrap;
  z-index: 96;
}
.frame-3d {
  position: absolute;
  width: 127px;
  height: 4px;
  top: 165px;
  left: 53px;
  background: #c9dbe8;
  z-index: 101;
  overflow: hidden;
  border-radius: 17px;
}
.rectangle-3e {
  position: absolute;
  width: 127px;
  height: 4px;
  top: 0;
  left: 0;
  background: #1c9fff;
  z-index: 102;
  border-radius: 17px;
}
.deutsch-3f {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 8px;
  top: 372px;
  left: 16px;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 6px;
  font-weight: 700;
  line-height: 8px;
  text-align: left;
  white-space: nowrap;
  z-index: 83;
}
.frame-40 {
  position: absolute;
  width: 127px;
  height: 4px;
  top: 374px;
  left: 51px;
  background: #c9dbe8;
  z-index: 86;
  overflow: hidden;
  border-radius: 17px;
}
.rectangle-41 {
  position: relative;
  width: 108px;
  height: 4px;
  margin: 0 0 0 0;
  background: #1c9fff;
  z-index: 87;
  border-radius: 19px;
}
.englisch-42 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 8px;
  top: 385px;
  left: 16px;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 6px;
  font-weight: 700;
  line-height: 8px;
  text-align: left;
  white-space: nowrap;
  z-index: 84;
}
.frame-43 {
  position: absolute;
  width: 127px;
  height: 4px;
  top: 387px;
  left: 51px;
  background: #c9dbe8;
  z-index: 88;
  overflow: hidden;
  border-radius: 17px;
}
.rectangle-44 {
  position: relative;
  width: 92px;
  height: 4px;
  margin: 0 0 0 0;
  background: #1c9fff;
  z-index: 89;
  border-radius: 14px;
}
.arabisch-45 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  height: 8px;
  top: 398px;
  left: 16px;
  color: #727272;
  font-family: Nunito, var(--default-font-family);
  font-size: 6px;
  font-weight: 700;
  line-height: 8px;
  text-align: left;
  white-space: nowrap;
  z-index: 85;
}
.frame-46 {
  position: absolute;
  width: 127px;
  height: 4px;
  top: 400px;
  left: 51px;
  background: #c9dbe8;
  z-index: 90;
  overflow: hidden;
  border-radius: 17px;
}
.rectangle-47 {
  position: absolute;
  width: 127px;
  height: 4px;
  top: 0;
  left: 0;
  background: #1c9fff;
  z-index: 91;
  border-radius: 17px;
}
.button-container {
  position: absolute;
  left: 50%; /* Center horizontally */
  top: 3px;
  transform: translateX(-80%); 
  display: flex;
  gap: 10px;
}
.custom-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #36a0ed;
  color: white;
  font-family: Nunito, var(--default-font-family);
  font-size: 10px;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.custom-button:hover {
  background-color: #1c9fff;
}